* {
    box-sizing: border-box;
  }

  body {
      width: 960px;
      margin: auto;
/* background-image:url(/background/mall.jpeg); */
  }

  header {
      background-color: #e3d18a;
      text-align: center;
  }
  header nav a {
      text-decoration: none;
      margin: 40px;
     }
.product-edit{
          display: inline;
      grid-template-columns:1fr 1fr ;
      gap: 10px;
  }

  img{
      width: 30%;
  }

 /* .all-elements {
display: grid;
  } */
 
  footer {
      background-color: #c39e5c;
      text-align: center;
  }