* {
    box-sizing: border-box;
  }

  body {
      width: 960px;
      margin: auto;
      background-color: #f7d9d9;
  }

  header {
      background-color: #e3d18a;
      text-align: center;
  }
  header nav a {
      text-decoration: none;
      margin: 40px;
     }
.product-edit{
          /* display:inline; */
          margin-bottom: 50px;
          margin-top: 50px;
  }

  img{
      width: 30%;
  }

 .all-elements {
display: grid;
  }
 
  footer {
      background-color: #c39e5c;
      text-align: center;
  }

#button{
align-items: center;
}

#lists{
    column-count: 2;
}