* {
    box-sizing: border-box;
  }

  body {
      width: 960px;
      margin: auto;
background-image:url(/background/mall.jpeg);
  }

  header {
      background-color: #e3d18a;
      text-align: center;
  }
  header nav a {
      text-decoration: none;
      margin: 40px;
     }
.product-edit{
          display: grid;
      grid-template-columns:1fr 1fr ;
      gap: 10px;
  }

  img{
      width: 40%;
  }

 .all-elements {
display: grid;
  }
 
  footer {
      background-color: #c39e5c;
      text-align: center;
  }

  .lists{
      display: none;
  }